XBitHack On
RewriteEngine On
Options +FollowSymlinks
RewriteBase /
RewriteRule ^doc/(.*) http://libelemental.org/documentation/$1 [NC,QSA,L,R=301]
RewriteCond %{HTTP_HOST} ^(www\.)?libelemental\.(com|net|eu|se) [NC,OR]
RewriteCond %{HTTP_HOST} ^www\.libelemental\.org [NC]
RewriteRule ^(.*)$ http://libelemental.org/$1 [L,R=301]
Redirect 301 /jenkins http://45.33.57.15:8080
Redirect 301 /jenkins/ http://45.33.57.15:8080
Redirect 301 /jenkins.html http://45.33.57.15:8080
